<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Book Record </title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}"/>
</head>
<body>
<div id="header">
    <h1> Book Record management</h1>
    <div id="nav">
        <a href="http://localhost:8000/brm/view-books">ViewBooks </a>
        <a href="http://localhost:8000/brm/new-book">AddNewBook</a>
        <a href="http://localhost:8000/brm/search-book">SearchBook</a>
        <a href="http://localhost:8000/brm/logout/">Logout</a>
    </div>

</div>
<div id="main">
    <h2>Search Book Record</h2>
    <form action="http://localhost:8000/brm/search/" method="post">
        {% csrf_token %}
        {{ form }}
        <input id="rahul" type="submit" value="search">
    </form>
    {% if books %}
    <table>
        <tr>
            <th>Book Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Publisher</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.price}}</td>
            <td>{{book.publisher}}</td>
            <td><a href="http://localhost:8000/brm/edit-book?book_id={{book.id}}">Edit</a></td>
            <td><a href="http://localhost:8000/brm/delete-book?book_id={{book.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

</body>
</html>